body{
    background: linear-gradient(135deg, #737b9b, #ad8b8b, #aa9d82);
    min-height: 100vh;
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 20%;
    margin:1rem;
    box-shadow: 20%;
}
.box{
    
    display:flex;
    justify-content: center;

}
.box1{
    background-color: rgb(218, 100, 100);
}
.box2{
    background-color: rgb(96, 96, 193);
}
.box3{
    background-color: rgb(207, 207, 89);
}
.box4{
    background-color: rgb(178, 70, 178);
}
.flash{
    background-color: white;
}